/* Common styles */
.textarea,
.textarea-title {
    box-sizing: border-box;
    width: 90%;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 8px;
    color: #1c2025;
    background: #fff;
    border: 1px solid #e5eaf2; /* Custom border color */
    box-shadow: 0px 2px 2px #f3f6f9;
    outline: none;
}

/* Specific styles */
.textarea {
    font-size: 0.875rem;
    height: 150px;
}

.textarea-title {
    font-size: 1.8rem;
    font-weight: bolder;
    height: 70px;
}

@media (min-width: 960px) and (max-width: 1801px) {
    .textarea {
        font-size: 0.75rem;
    }

    .textarea-title {
        font-size: 1.2rem;
        font-weight: bolder;
    }
}

.textarea:hover {
    border-color: #b0bec5; /* Border color on hover */
}

.textarea:focus {
    border-width: 2px; /* Thicker border on hover */
    border-color: #1e88e5; /* Border color when focused */
}

/* Custom scrollbar styles */
.textarea::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}

.textarea::-webkit-scrollbar-track {
    background: #ebebeb; /* Background of the scrollbar track */
    border-radius: 8px;
}

.textarea::-webkit-scrollbar-thumb {
    background: #c2c2c2; /* Color of the scrollbar thumb */
    border-radius: 8px;
}
